<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drinks Index Page</title>
</head>
<style type="text/css">
    body {
        color: blanchedalmond;
        background-color: steelblue;
    }
</style>

<body>
    <h1>Welcome to Gitpub</h1>
    <ul>

        <% for(let i=0; i < allDrinks.length; i++) { %>
            <li>
                <a href="/drinks/<%= i %>">
                    <%= allDrinks[i].name.toLowerCase() .split(' ')
                        .map((s) => s.charAt(0).toUpperCase() + s.substring(1))
                        .join(' '); %></a>
                </li>
            <% } %>
        </ul>
</body>

</html>