<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Drinks App</title>
</head>

<body>
    <h1>Drinks show page</h1>

    <br /><br />
    <a href="/drinks">Back to Index</a>
</body>

</html>